body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #f1f2f6;
    min-width: 500px;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /* padding: 20px; */
    margin: 30px auto;
    text-align: center;
    
}

img {
    width: 200px;
    margin: auto;
    margin-bottom: 0;
}

h1 {
    font-size: 35px;
    text-align: left;
    margin-top: 0;
}

span {
    color: #758bfd;
    font-weight: bold;
}

h2 {
    font-size: 15px;
}

input {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    background-color: #aeb8fe;
    margin: auto;
    padding: 15px;
    margin-bottom: 10px;
    width: 280px;
    text-align: center;
    border: none;
    border-radius: 8px;
}

#message-field {
    height: 50px;

    overflow: auto;
}

.msg-info {
    font-size: 15px;
}

.make-sure {
    font-size: 20px;
    color: #4d64d8;
}

#error {
    color: #f94144;
    font-size: 20px;
}

button {
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #27187e;
    width: 300px;
    margin: 10px auto;
    padding: 15px;
    border: none;
    border-radius: 8px;
}

button img {
    width: 30px;
    margin-right: 30px;
    margin-left: 20px;
}

button:hover {
    background-color: #180f4b;
}

button strong {
    padding-top: 5px;
}

#deletebtn {
    background-color: #f94144;
}

#deletebtn:hover {
    background-color: #991f21;
}

.message-deleted {
    color: #f94144;
}